*{
    box-sizing: border-box;
    position: relative;
}
a{
    text-decoration: none;
}
html,body{
    font-style: "微軟正黑體";
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    height: 45px;
}
th{
    font-size: 20px;
}
p{
    margin: 0;
}
.container{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid#000;
}
.wrapper{
    gap: 60px;
    background-color: #E8E8E8;
}
/* header */
.header-navbar{
    height: 60px;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    border: 0;
}
.header__container{
    border: 0;
}
.header__logo{
    height: 60px;
    width: 200px;
    background-image: url('../images/RobotX-Color.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.header__link{
    display: inline-block;
    width: 100%;
    line-height: 20px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.header__link:hover{
    color: #FF9696;
}
.header__link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: all 0.1s;
}
.header__link:active:after{
    width: 100%;
}
/* jumbotron */
.jumbotron{
    height: 350px;
    background-color: aqua;
}
.jumbotron__img{
    width: 100%;
    height: 100%;
}
/* eciprocal */
.reciprocal{
    display: flex;
    margin: 30px 0;
}
.reciprocal-container{
    /* --- */
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 0;
}
.reciprocal__img{
    height: 60px;
    width: 60px;
}
.reciprocal__today{
    font-size: 30px;
}
.reciprocal__time{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reciprocal__time p{
    font-size: 40px;
}
.reciprocal__time span{
    width: 60px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #00d4ff;
    border: 3px solid #000;
    border-radius: 10px;
}
.reciprocal__order{
    height: 60px;
    width: 60px;
}
/* commodity */
.commodity-container{
    margin: 0 21%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    border: 0;
}
/* .commodity-container{
    flex-direction: column;
    gap: 50px;
    width: 100%;
    border: 0;
    padding: 0 20%;
} */
.commodity_title{
    text-align:  center;
    
}
.commodity_title::before{
    content: '';
    display: block;
    margin-top: -50px;
    height: 60px;
    visibility: hidden;
}
/* .commodity-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
} */
.commodity-col{
    width: 200px;
    height: 250px;
    z-index: 1;
}
.commodity-card{
    background-color: white;
    width: 100%;
    height: 100%;
}
.card__discount{
    width: 70px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: red;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.card__img{
    width: 100%;
    height: 130px;
}
.card__img:hover{
    filter: blur(3px);
}
.card-content{
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card__name{
    font-size: 20px;
}
.card__select{
    width: 40px;
    height: 25px;
}
.card-oder{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.card-price{
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-price__priceafter{
    color: red;
    font-weight: bold;
    font-size: 25px;
}
.card-price__pricebefore{
    color: dimgrey;
    text-decoration: line-through;
}
.card__btn{
    width: 90px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.card__btn:hover{
    background-color: #8282FF;
}
.card__btn:active{
    background-color: #FF6E6E;
}
/* shoppinglist */
.shopping{
    width: 1100px;
    min-height: 500px;
    border: 0;
    display: flex;
    background-color: #FFECC9;
    margin-top: 50px;
}
#shopping::before{
    content: '';
    display: block;
    margin-top: -50px;
    height: 30px;
    visibility: hidden;
}
.shopping-cart{
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
}
.cart-title{
    width: 100%;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 5px;
    background-color: #FFFAF2;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 1fr ;
}
.shopping-list{
    flex-direction: column;
    width: 100%;
}
.shopping-cart-content{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    font-size: 30px;
    background-color: #FFFAF2;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 1fr ;
}
.content-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
}
.content-box{
    display: flex;
    flex-direction: row;
}
.content__btn{
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: 0;
}
.content__btn:hover{
    background-color: #8282FF;
}
.content__btn:active{
    background-color: #FF6E6E;
}
.content__name{
    margin-left: 10px;
    font-size: 20px;
}
.content__img{
    height: 60px;
    width: 80px;
}
.content__icon{
    height: 50px;
}
/* material */
.material{
    width: 1100px;
    border: 0;
    margin-top: 20px;
}
.material-form{
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #A6A6A6;
}
.form-title{
    margin: 0;
    text-align: center;
}
.form-row{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.material__title{
    font-size: 20px;
}
.material__name,.material__number,.material__billnumber,.material__address{
    width: 200px;
    border: 0;
    border-radius: 3px;
}
.material__address{
    width: 350px;
}
.form-pay{
    display: flex;
    align-items: center;
}
.material__input--left{
    position: absolute;
    left:15%;
}
.material__outbtn{
    width: 150px;
    height: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    background-color: #FFA600;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .3s ease;
}
.material__outbtn:hover{
    background-color: #E09200
}
.material__outbtn:active{
    background-color: #C78100;
}
/* footer */
.footer{
    margin-top: 60px;
    width: 100%;
    /* position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2; */
}
.footer__container{
    width: 100%;
    height: auto;
    border: 0;
    background: rgb(224,224,255);
    background: #4F4F4F;
    display: flexbox;
    justify-content: center;
}
.footer-content-left{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    gap: 10px;
    margin-bottom: 10px;
}
.footer-iconbox{
    display: flex;
    justify-content: space-between;
}
.footer__icon{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
.footer-content-right{
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer__link{
    color: white;
    font-size: 25px;
    text-decoration: underline;
}
.footer__link:hover{
    color: #CFCFCF;
}
.footer__link:active{
    color: #B5B5B5;
}
.footer-data{
    color: white;
}